<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">Bandung Membara</a>
		<a class="panel-block">Khilafah</a>
		<a class="panel-block">Demo</a>
		<a class="panel-block">#INDONESIA</a>
		<a class="panel-block">Terpelatuqeu</a>
	</nav>
</div>